.home {
    --bd-green: #0f4a0f;
    --bd-lightgreen: #2ba560;
    --bd-accent: #bef9a3;
    --bd-green-rgb: 15, 74, 15; 
    --bd-lightgreen-rgb: 43, 165, 96; 
    --bd-accent-rgb: 190, 249, 163;
    --bd-pink-rgb: 214, 51, 132;

    .bd-masthead {
        padding: 3rem 0;
        background-image: linear-gradient(180deg, rgba(var(--bs-body-bg-rgb), 0.01), rgba(var(--bs-body-bg-rgb), 1) 85%),radial-gradient(ellipse at top left, rgba(var(--bs-primary-rgb), 0.5), transparent 50%),radial-gradient(ellipse at top right, rgba(var(--bd-accent-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center right, rgba(var(--bd-violet-rgb), 0.5), transparent 50%),radial-gradient(ellipse at center left, rgba(var(--bd-pink-rgb), 0.5), transparent 50%);
    }

    .btn-bd-primary {
        --bs-btn-font-weight: 600;
        --bs-btn-color: var(--bs-white);
        --bs-btn-bg: var(--bd-green);
        --bs-btn-border-color: var(--bd-green);
        --bs-btn-border-radius: .5rem;
        --bs-btn-hover-color: var(--bs-white);
        --bs-btn-hover-bg: var(--bd-lightgreen);
        --bs-btn-hover-border-color: var(--bd-lightgreen);
        --bs-btn-focus-shadow-rgb: var(--bd-green-rgb);
        --bs-btn-active-color: var(--bs-btn-hover-color);
        --bs-btn-active-bg: darken(var(--bd-green), 10%);
        --bs-btn-active-border-color: darken(var(--bd-green), 10%);
    }
}

.navbar {
    @extend .navbar-dark;

    --bd-violet-rgb: 112.520718,44.062154,249.437846;
    
    padding: .75rem 0;
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(var(--bd-violet-rgb), 1), rgba(var(--bd-violet-rgb), 0.95));
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15),inset 0 -1px 0 rgba(0,0,0,0.15);
}

.text-violet {
    color: var(--bd-lightgreen);
}

.list {
    .card {
        transition: transform 0.2s ease-in-out;

        &:hover {
            transform: scale(1.01);
        }
    }
}

.navbar-brand {
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: rotate(-2deg) scale(1.1);
    }
}
