<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="images/images/footprint.png" width="150" height="150" alt="Bootstrap">
        <h2 class="h2">Carbon Tracker<small class="d-none">🛡️</small></h2>
        <p>View a monthly report of your carbon footprint to identify and enhance your eco-conscious spending habits.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="images/images/cashback.png" width="150" height="150" alt="Bootstrap">
        <h2 class="h2">Eco Rewards <small class="d-none">🚀</small></h2>
        <p>Earn discounts and cashback on purchases from verified sustainable products and services, motivating continued green spending.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="images/images/calculator.png" width="150" height="150" alt="Bootstrap">
        <h2 class="h2">Carbon Calculator <small class="d-none">📈</small></h2>
        <p>Input purchase details to estimate the carbon emissions, helping you understand and reduce your environmental impact.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Green Investing <small class="d-none">🦉</small></h2>
        <p>Access a list of environmentally friendly investment options, complete with performance and impact metrics, to support sustainable ventures.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Savings Goals <small class="d-none">✨</small></h2>
        <p>Set and monitor financial targets like saving for eco-friendly projects, integrating your financial and environmental aspirations.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Eco Alternatives <small class="d-none">🧰</small></h2>
        <p>Receive tailored suggestions for green alternatives after each purchase, guiding you towards more sustainable choices in the future.</p>
    </div>
</div>
