{{ define "main" }}

<section class="section bd-masthead">
  <div class="container-xxl">
    <div class="col-md-8 mx-auto text-center my-5">
      <img class="d-block mx-auto mb-3" src="images/images/logo.png" width="400" height="400" alt="Bootstrap">
      <p class="lead mb-4">{{ .Site.Params.Description }}</p>
      <p class="text-muted mb-0">Invest in Your Planet, Profit from Your Choices.</p>
    </div>
  </div>
</section>

<section class="section container my-3">
  {{ partial "features" . }}
</section>

<section class="section container my-3">
  <h3 class="text-secondary text-center my-5">Latest Posts</h3>
  {{ partial "latest-posts" . }}
</section>

<section class="section container my-3">
  <h3 class="text-secondary text-center my-5">Featured Pages</h3>
  {{ partial "featured-pages" . }}
</section>

{{ end }}